@font-face {
  font-display: swap;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 300;
  src: url("https://fonts-3by.pages.dev/libre-franklin-v18-latin/libre-franklin-v18-latin-300.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 600;
  src: url("https://fonts-3by.pages.dev/libre-franklin-v18-latin/libre-franklin-v18-latin-600.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts-3by.pages.dev/libre-franklin-v18-latin/libre-franklin-v18-latin-700.woff2")
    format("woff2");
}

:root {
  /* Color */
  --button-icon-color: hsl(223, 87%, 63%);
  --button-hover-color: hsl(223, 91%, 69%);
  --border-color: hsl(223, 100%, 88%);
  --error-color: hsl(354, 100%, 66%);
  --text-gray-color: hsl(0, 0%, 59%);
  --text-darkblue-color: hsl(209, 33%, 12%);

  /* Font */
  /* font family*/
  --ff: "Libre Franklin", sans-serif;

  /* font size */
  --fs1: 0.75rem; /* 12px*/
  --fs2: 1rem; /* 16px*/
  --fs3: 1.25rem; /* 20px*/
  --fs4: 1.75rem; /* 28px*/
  --fs5: 2rem; /* 32px*/ 

  /* sapces */
  --space1:0.625rem; /* 10px */
  --space2:1.25rem; /* 20px */
  --space3:1.875rem; /* 30px */
  --space4:2.5rem; /* 40px */
  --space5:3.125rem; /* 50px */
  --space6:3.75rem; /* 60px */
  --space7:4.375rem; /* 70px */
  --space8:5rem; /* 80px */
  --space9:5.625rem; /* 90px */
  --space10:6.25rem; /* 100px */

  /* border radius */
  --br: 1.563rem;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  text-align: center;
  font-family: var(--ff);
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a{
  text-decoration: none;
  color: white;
}

.wrapper {
  max-width: 40.625rem;   /* 650px */
  margin: 0 var(--space3);
  padding-block: var(--space8);
  display: grid;
  grid-template-rows: auto;
  gap: var(--space5);
  justify-items: center;
  place-self: center;
}

.wrapper > img {
  width: 4.375rem; /* 70px */
}

.message-cta {
  display: grid;
  gap: var(--space2);
}

.message-cta .message {
  display: grid;
  gap: var(--space1);
}

.message-cta .message-1 {
  font-size: var(--fs4);
  color: var(--text-darkblue-color);
  word-spacing: 1px;
  font-weight: 700;
}
.message-cta .message-1 .lighten-text {
  color: var(--text-gray-color);
  font-weight: 300;
}

.message-cta .message-2 {
  color: var(--text-darkblue-color);
  font-size: var(--fs2);
}

.input-cta {
  display: flex;
  flex-direction: column;
  gap: var(--space1);
  transition: all .3s ease-in-out;
}

.input-cta .error{
  display: none;
}

.input-cta .error-message {
  align-items: center;
  font-size: var(--fs1);
  color: var(--error-color);
  word-spacing: 1px;
  font-style: italic;
  transition: all 0.3s ease-in-out;
}

input {
  font-size: var(--fs2);
  padding: var(--space1) var(--space2);
  border-radius: var(--br);
  border-color: var(--button-icon-color);
  border-style: solid;
  
}

input:valid:not(:placeholder-shown) + .error{
  display: none;
}

input:invalid:not(:placeholder-shown) {
  border-color: var(--error-color);
  outline-color: var(--error-color) ;
}

input:invalid:not(:placeholder-shown) + .error{
  display:block;

}

input:invalid ~ .btn-submit {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
}

.btn-submit {
  color: whitesmoke;
  background-color: var(--button-icon-color);
  border-radius: var(--br);
  border: none;
  padding: var(--space1) 0;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: var(--button-hover-color);
  color: white;

  box-shadow: 0 10px 10px var(--border-color);
}

footer{
  margin: 0 var(--space3);
}

footer .social-icons{
  display: flex;
  gap: var(--space2);
  justify-content: center;
}

footer .social-icons a {
  --space0:0.313rem; /* 5px */

  color: var(--button-icon-color);
  font-size: var(--fs3);
  border-radius: 50%;
  border: 1px solid var(--border-color);
  padding: var(--space0) var(--space1);
  transition: all .3s ease-in-out;
}

footer .social-icons a:hover{
  color: white;
  background-color: var(--button-icon-color);
}

footer .copyright{
  margin-block: var(--space3);
  font-size: var(--fs1);
  color: var(--text-gray-color);
}

dialog{
  border: none;
  border-radius: var(--br);
}
dialog h2{
  color: var(--button-icon-color);
}

@media (min-width: 48rem){
  .wrapper{
    padding-block: var(--space6);
  }
  .message-cta .message-1 {
    font-size: var(--fs5);
    word-spacing: 3px;
  }

  .input-cta {
    width: 37.5rem; /* 600px */
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .input-cta .error{
    grid-area: 2;
    text-align: start;
    padding-left: var(--space2);
  }
}
